/* Useful Information

font-family: 'Patua One', cursive;
font-family: 'Russo One', sans-serif;
font-family: 'Berkshire Swash', cursive;
font-family: 'Paytone One', sans-serif;
font-family: 'Roboto', sans-serif;
 */


 .homelink {
   height: 80px;
   width: 120px;
   background-color: red;
   margin-left: -150px;
   margin-top: -10px;
   padding-top: 12px;
   font-size: 30px;
   text-align: center;
 }


 ul {
   padding: 0;
 }

 li {
   list-style: none;
 }

 a {
   font-family: 'Patua One', cursive;
   text-transform: uppercase;
   font-size: 20px;
 }



 /*******************
     Header styles
 **********************/

 header {
   height: 80px;
   background: #161616;
   padding-top: 10px;
 }

 /*******************
        Desktop
 **********************/

 .desktop-nav ul {
   float: right;
   margin-top: 10px;
   padding: 0;
   width: calc(100% - 60px);
   text-align: right;
 }

 .desktop-nav li {
   display: inline-block;
   margin-left: 20px;

 }

 .desktop-nav a,
 .desktop-nav a:visited {
   color: white;
 }

 .desktop-nav a:hover,
 .desktop-nav a:focus,
 .desktop-nav a:active {
   opacity: 0.9;
   color: white;
   text-decoration: none;
 }

 .desktop-nav .homelink {
   float: left;
 }

 /*  Mobile */
 .mobile-nav {
   display: none;
   text-align: center;
 }

 .mobile-nav .homelink {
   display: inline-block;
 }

 .mobile-nav .hamburger-container,
 .mobile-nav .search-container {
   vertical-align: top;
   margin-top: 8px;
   width: 40px;
   display: inline-block;
   margin-left: -4px;
 }

 .mobile-nav .logo-container {
   display: inline-block;
   margin-left:150px;
   width: calc(100% - 250px);
 }

 .mobile-nav button {
   background: transparent;
   border: none;
   color: white;
 }

 @media (max-width: 768px) {
   .mobile-nav {
       display: block;
   }
   .desktop-nav {
       display: none;
   }
 }

/****************
     Section
*****************/

/* section {
  background-color: black;
  height: 420px;
} */

section {
  height: auto;
  width: 100%;
}

.title {
  color: white;
  padding-top: 50px;
  padding-left: 150px;
  padding-right: 150px;
}

th {
  background-color: #ddddaa;;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    margin-right: 150px;
    margin-left: 150px;
    margin-top: 20px;
    margin-bottom: 50px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


/*********************
   Footer Section
**********************/
footer {
  background-color: #111;
  height: auto;
  width: 100%;
}

.footer-container {
  text-align: center;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: 'Paytone One', sans-serif;
}

.social-icons li {
  display: inline-block;
  padding: 10px;
}


@media (max-width: 700px) {
  footer {
    background-color: #111;
    height: auto;
    width: 100%;
  }

  .footer-container {
    display: inline-block;
    padding: 50px;
    text-align: center;
    vertical-align:text-top;
    font-family: 'Patua One', cursive;
    font-size: 20px;
  }

  .footer-container a {
    text-decoration: none;
    /* color: #222; */
    font-family: 'Patua One', cursive;
    font-size: 16px;
  }
}
